*{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
}

body{
    background-color: white;
    color: black;
    margin: 0 1em;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    font-size: 25px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 0;
} 


h2:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
}

h6{
    margin: 0;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    color: grey;
    border-left: 1px dotted black;
    padding-left: 1em;
}

em{
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0.3px;
}

hr{
    border: 0px;
    border-right: 1px;
    border-style: dotted;
    color: black;
    margin: 0;
    height: 100vh;
    position: sticky;
    top: 0;
}

#container-hr{
    display: none;
}

#container{
    display: flex;
    gap: 2%;
}

#containers{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1em 0;
}

#containers.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.6; 
}

#containers.loading::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background: rgba(255,255,255,0.4);
}

#containers.loading::before {
  content: "loading...";
  padding: 0% 1%;
  text-decoration: underline;
  text-decoration-style: dotted;
}

#nav{
    display: flex;
    position: sticky;
    top: 0;
    position: -webkit-sticky; 
    flex-direction: column;
    width: 20%;
    gap: 30px;
    align-self: flex-start; 
}

#nav div{
    width: fit-content;
}

.nav-item:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
}

#info{
    position: fixed;
    bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#info a{
    color: grey;
    text-decoration-style: dotted;
}

#info a:hover{
    color: black;
}

.static-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drive_nav_projects{
    margin-bottom: 10px;
}

#drive_nav_books{
    max-height: 50vh;
    overflow: scroll;
    padding-right: 20px;
}

.drive-folder{
    padding-left: 10px;
    border-left: 1px dotted black;
    color: gray;
}

.drive-folder:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: black;
    border-left: 1px solid black;
}

#hamburger{
    display: none;
}

.book-view{
    flex-direction: row !important;
    padding: 0 !important;
    gap: 1em;

}

#cover-container{
    display: none;
    width: 50%;
    flex-direction: column;
    gap: 1em;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    align-self: flex-start; 
}

.book-cover{
    width: 75%;
    padding-top: 1em;
}

.book-spreads{
    width: 50%;
    flex-direction: column !important;
    flex-wrap: unset !important;
    justify-content: start !important;
    gap: 1em !important;
    padding-bottom: 1em;
}

.spread{
    width: 100% !important;
    padding-bottom: 0 !important;
    border: 1px dotted black;
    cursor: default;
}

#description-container{
    padding: 0% 12.5% 2.5% 1%;
    display: none;
    color: grey;
}

#image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

#image-container div{
    width: 22.5%;
    padding-bottom: 22.5%;
    height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#image-container:hover{
    cursor: pointer;
}

.open{
    display: flex !important;
}

.close{
    display: none !important;
}

#lightbox{
    display: none;
    position: sticky;
    top: 0;
    width: 80%;
    flex-direction: column;
    position: -webkit-sticky; 
    position: sticky;
    align-self: flex-start; 
}

.info{
    width: 80% !important;
    height: fit-content !important;
    margin: 0 auto;
}

#logos{
    display: flex;
    gap: 1em;
    height: max-content;
    margin: 5em 0;
}

#logo-links, #logo-rechts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo-links div, #logo-rechts div{
    width: 100% !important;
}

#logos a{
    color: grey;
    text-decoration-style: dotted;
}

#logos div{
    width: 50%;
}

#pfp{
    width: 80%;
    margin-top: 1em;
}

.logo{
    width: 30%;
}

#logos hr{
    height: auto;
}

#quote{
    margin: 5em 0;
    width: 100% !important;
    height: fit-content !important;
    padding-bottom: 0 !important;
}

blockquote{
    color: grey;
    border-left: 1px dotted gray;
    padding-left: 1em;
}



#auteur{
    margin-left: 40px;
    padding-left: 1em;
    color: gray;
}

#tekstblok{
    width: 100% !important;
    height: fit-content !important;
    margin-top: 5em;
}

#tekstblok em{
    font-size: 14px;
    color: grey;
}

.lightbox__content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 95vh;
    padding: 1em;
}

.lightbox__info{
    display: flex;
    gap: 8px;
    width: fit-content;
    margin: 0 auto;
}

.lightbox__info p{
    color: grey;
}

.lightbox__img{
    margin: 0 auto;
    height: 75%;
}

.lightbox__nav{
    text-align: center;
}

#buttons{
    position: absolute;
    width: 100%;
    display: flex;
    margin: 80px 0;
}

#back-button{
    height: 77vh;
    width: 50%;
   
}

#back-button:hover{
    cursor:w-resize;
}

#forward-button{
    height: 77vh;
    width: 50%;
}

#forward-button:hover{
    cursor: e-resize;
}

button{
    background-color: white;
    color: black;
    border: 0px;
    border-bottom: 1px solid black;
    border-style: dotted;
    margin-right: 10px;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

@media screen and (width <= 1600px){
    .lightbox__img{
    height: 70%;
}
}

@media screen and (width <= 1350px){
    .lightbox__img{
    height: 60%;
}
}

@media screen and (width <= 1150px){
    .lightbox__img{
    height: 50%;
}
}

@media screen and (width <= 1000px){
    *{
        font-size: 19px;
    }
    

    #container{
        flex-direction: column;
    }

    h2{
        margin-bottom: 20px;
    }

    #nav_hamburger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
    }

    #hamburger{
    font-family:'Courier New', Courier, monospace;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transition: 0.25s;
    font-weight: bold;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    }

    .hoverstate{
    rotate: 90deg;
    transition: 0.25s;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 2px solid black;
    border-bottom: none !important;
    border-top: none !important;
    height: 30px   !important;
    }

    #line{
        border-bottom: 2px solid black;
        width: 100% !important;
        margin-top: -1px;
        height: 1px;
    }

    .static-nav{
        display: none;
        transition: s;
    }

    .opennav{
        display: flex;
    }

    hr{
        height: 1px;
    }

    #containers{
        width: 100%;
    }

    #drive_nav_books{
        max-height: max-content;
    }

    .book-view{
        flex-direction: column !important;
    }

    #lightbox{
        width: 96.5vw;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
    }


    .lightbox__img{
        height: auto;
        width: 80%;
    }

    #nav{
        width: 100%;
        border-right: none;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid black;
        position: relative;
        border-bottom: 1px solid black;
    }

    #info{
        position: relative;
        bottom: 0;
        margin-top: 2em;
    }

    #image-container{
        width: 100%;
    }

    #image-container div{
        width: 45%;
        padding-bottom: 45%;
    }

    #cover-container{
    position: relative;
    width: 100%;
    }
}